.footerStyle {
    background: white;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 3em;
    font-family: Montserrat, sans-serif;
    margin-top: 15%;
  }

  .footerStyle a {
    color: white;
    text-decoration: none;
  }
  
  .footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerImg {
    width: 10%;
    margin-bottom: 5%;
  }

  .footerImg:hover {
    transition: ease-in-out 0.3s;
    transform: scale(1.5);
  }
  
  .footerContentPStyle {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .topFootervideoStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
  }
  
  .topFootervideoVideoStyle {
    width: 60%;
  }
  
  .lists {
    list-style-type: none;
    font-size: 120%;
    padding: 2em;
    color: #051D40
  }
  
  .individualLists {
    margin-top: 0.4em;
    padding: 2%;
  }

  .individualLists:hover {
    background: #5AAB3A;
    transition: ease-in-out 0.5s;
    transform: scale(1.1);
    border-radius: 50px;
  }
  
  .bottomSection {
    background: #051D40;
    padding: 1em;
    color: white;
  }

  /** ipad air **/
  @media (max-width: 760px) {
    .lists {
      list-style-type: none;
      font-size: 80%;
      padding: 2em;
    }
  }

  /** Ipad Mini **/
  @media (max-width: 390px) {
    .lists {
      list-style-type: none;
      font-size: 70%;
      padding: 2em;
    }
  }

  